@import url('https://fonts.googleapis.com/css?family=Overpass:400,400i,600,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100');
.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.picture-wrapper {
  background-color: #ffffff;
  height: 130px;
  width: 130px;
  overflow: hidden;
  border-radius: 100%;
  padding: 3px;
}

.picture-wrapper img {
  width: 100%;
  height: auto;
}

.inner {
  height: 100%;
  width: 100%;
  background: black;
  border-radius: 100%;
  transform: scale(1);
  transition:  transform .25s;
  transition-timing-function: cubic-bezier(0,.32,.14,.99);
  background-image: url('./containers/Home/src/intro.jpg');
  background-size: cover;
  filter: grayscale(.5) contrast(.88);
}

.presentation-header{
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #4A4A4A;
  text-align: center;
  white-space: pre;
  margin: 0;
  margin-top: 29px;
  min-height: 74px;
}

.subtitle-header {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: rgba(0, 0, 0, .44);
  max-width: 284px;
  width: 100%;
  margin: 0;
  margin-top: 29px;
  min-height: 100px;
  word-wrap: break-word;
}

.cursor {
  font-weight: 900;
  animation-name:lighting;
  animation-duration:.6s;
  animation-iteration-count: infinite;
  /*margin-left: 2px;*/
  margin-left: -12px;
  position: relative;
  left: 12px;
}

@keyframes lighting {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
*  @container-skill
*/
.container-skill {
  position: relative;
  padding: 80px 15px  28px;
}

.text-background {
  font-size: 61px;
  color: rgba(0, 0, 0, .05);
  font-weight: 900;
  position: absolute;
  top: 30px;
  left: 26px;
  margin: 0;
}

.container-skill h2 {
  color: rgba(0, 0, 0, 0.57);
  font-size: 18px;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  letter-spacing: .4px;
  margin: 0;
}

.container-skill .content-text {
  font-size: 13px;
  font-family: 'Overpass', sans-serif;
  color: #4A4A4A;
  margin: 16px 0 35px 10px;
}

.skill-percent {
  font-size: 72px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  color: #DFB354;
  display: inline-block;
  width: 50%;
  padding-left: 10px;
}

.container-buttons {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.button-skill {
  display: list-item;
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(74, 74, 74, 1);
  background-color: transparent;
  margin: 15px 0 15px auto;
}

.button-selected {
  color: #DFB354;
  font-size: 18px;
  font-weight: 900;
}

/*.container-project {
  background-color: rgb(255,184,48);
  padding: 21px 15px;
}*/

.filter-bloc {
  width: 245px;
  margin: 0 auto;
}

.filter-bloc p {
  margin: 0;
  color: #7e6130;
  font-size: 16px;
  font-family:'Overpass', sans-serif;
  margin-bottom: 5px;
}

.button-filter {
  color: #F3C880;
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  padding: 2px 15px;
  background-color: #fff;
  border: 0;
  border-radius: 1px;
}

.filter-selected {
  background-color: rgba(53,56,44,.9);
}

.filters{
  justify-content: space-between;
  display: flex;
}
